/**
 * This file provides additional styles for the admin page.
 *
 * @author Klaus Vormweg <klaus.vormweg@gmx.de>
 */
.dokuwiki div.ui-admin ul li a span.icon {
	width: 1.5em;
	min-height: 1.5em;
	margin: 0 0.5em;
	vertical-align: middle;
}
.dokuwiki div.ui-admin ul li a span.icon svg path {
	fill: #333;
}
.dokuwiki div.ui-admin ul.admin_plugins {
	clear: left;
}
.dokuwiki div.ui-admin ul.admin_plugins::before {
	content: "__________";
}
